extends layout

block content
  h1= title
  
  if user
    p Welcome back #[strong #{user.username}]!                                                     

    div.form-container
      div.message-form
        form(method="POST", action="")
          div.new-message
            input#message.form-title(type="text", placeholder="Title", name="title", required="true")
            textarea(type="text", placeholder="Write a message...", name="text", required="true")
          button.submit-btn(type="submit") Submit

    
    div.message-container
      if messages
        each message in messages
          if user.admin === true
            div.message
              p.message-input__title #{message.title}
              p.message-input #{message.text}
              p.message-input__details posted #{message.date_formatted} by #{message.user.username}
              form(action=`/${message._id}/delete` method="GET") 
                button.remove-btn Remove
          else if user.member === true
            div.message
              p.message-input__title #{message.title}
              p.message-input #{message.text}
              p.message-input__details posted #{message.date_formatted} by #{message.user.username}
          else 
            div.message
              p.message-input #{message.title}
              p.message-input #{message.text}
              p.message-input__details by Anonymous
      

      else 
        p No messages.
  else 
    if messages
      each message in messages
        div.message
          p.message-input__title #{message.title}
          p.message-input #{message.text}
          p.message-input__details by Anonymous

    else 
     p No messages.